<div class="container">
  <footer class="row">
    <div class="col-sm-12">
      <h3 class="text-center">1st Dai Co Viet, Hai Ba trung, Ha Noi, Vietnam</h3>
      <hr>
    </div>
    <div class="col-sm-4">
      <ul>
        <li><a href="#">Wevivuについて</a></li>
      </ul>
    </div>
    <div class="col-sm-12">
      <hr>
    </div>
  </footer>
</div>
