<footer>
  <div class="splitter"></div>
  <ul>
    <ul>
      <li>
        <div class="icon" data-icon="E"></div>
        <div class="text">
          <h4>私たちに関しては</h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="a"></div>
        <div class="text">
          <h4>お問い合わせ</h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="s"></div>
        <div class="text">
          <h4>ニュース</h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
        </div>
      </li>
    </ul>
  </ul>
  <div class="bar">
    <div class="bar-wrap">
      <ul class="links"> <!-- footer menu -->
        <li><a href="#">ホーム</a></li>
        <li><a href="#">ライセンス</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <li><a href="#">広告する</a></li>
      </ul>

      <div class="social">
        <a href="#" class="fb">
          <span data-icon="f" class="icon"></span>
          <span class="info">
                    <span class="follow">ファンになるFacebook</span>
                    <span class="num">9,999</span>
                </span>
        </a>

        <a href="#" class="tw">
          <span data-icon="T" class="icon"></span>
          <span class="info">
                    <span class="follow">私たちに従ってください</span>
                    <span class="num">9,999</span>
                </span>
        </a>

        <a href="#" class="rss">
          <span data-icon="R" class="icon"></span>
          <span class="info">
                    <span class="follow">RSSを購読する</span>
                    <span class="num">9,999</span>
                </span>
        </a>
      </div>
      <div class="clear"></div>
      <div class="copyright">Wevivu &copy;  2017 All Rights Reserved</div>
    </div>
  </div>
</footer>
